<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Basic Vue Js</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>

    <div id="app">
        <div class="p-5 col-8">
            <header-component>
               Belajar Javascript Vue JS - Basic Vue JS
            </header-component>
            <form-component :barang="barang" v-on:add-barang="addBarang"></form-component>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Photo</th>
                        <th>Barang</th>
                        <th>Harga</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="loading">
                        <tr><td colspan="5" :class="{ loads: loading }">Loading </td></tr>
                    </template>
                    <template v-else>
                        <template v-if="errors.status == false">
                            <template v-if="barang.length > 0">
                                <tr v-for="(brg,i) in barang" :key="brg.id">
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                        <img :src="showImage(brg.image)" width="50" alt="">
                                    </td>
                                    <td>{{ brg.title }}</td>
                                    <td>${{ brg.price }}</td>
                                    <td>
                                        <button @click="deleteBarang(brg.id,i)" class="btn btn-danger btn-sm">Delete</button>
                                        |
                                        <button @click="addToCart(brg.id)" class="btn btn-secondary btn-sm">+</button>
                                        <button @click="removeFromCart(brg.id)" class="btn btn-secondary btn-sm">-</button>
                                    </td>
                                </tr>
                            </template>
                            <template v-else>
                                    <tr><td colspan="5">Data Not Found</td></tr>
                            </template>
                        </template>
                        <template v-else>
                            <tr><td colspan="5">{{ errors.message }}</td></tr>
                        </template>
                    </template>
                </tbody>
            </table>

            <cart-component :total="totalHarga" :carts="carts" :item="totalItem"></cart-component>
            <hr>
            <footer-component></footer-component>
        </div>
    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        Vue.component('footer-component', {
            template: ` <footer>
                            <p>&copy; 2021 By Widdy Arfiansyah</p>
                        </footer>`,
        });

        Vue.component('header-component', {
            data(){
                return {
                    firstData: 'Widdy Arfiansyah',
                }
            },
            template: ` <header>
                            <h3 v-once>{{ firstData }}</h3>
                            <slot></slot>
                            <hr>
                        </header>`
        });
        Vue.component('cart-component', {
            props: ['total', 'carts', 'item'],
            template: ` <div>
                            <h3>Keranjang Anda</h3>
                            <ul>
                                <li v-for="cart in carts" :key="cart.id">
                                    Barang : {{ cart.title }} | Price : {{ '$' + cart.price }} | Total : {{ cart.qty }}
                                </li>
                            </ul>
                            <p>Total Item {{ item }} <br> Total Harga {{ '$' + total }}</p>
                        </div>`
        });
        Vue.component('form-component', {
            props: ['barang'],
            template: ` <form @submit.prevent="$emit('add-barang')" class="pb-3">
                            <div class="row pb-3">
                                <div class="col-6">
                                    <input type="text" placeholder="Nama Barang" v-model="barang.title" class="form-control" required>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-6">
                                    <input type="number" placeholder="Harga Barang" v-model="barang.price" class="form-control" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Tambah</button>
                        </form>`
        });

        const app = new Vue({
            el: '#app',
            data() {
                return {
                    id: 0,
                    barang: {
                        title: '',
                        price: ''
                    },
                    data: [],
                    carts: [],
                    totalHarga: 0,
                    loading: true,
                    errors: {
                        status: false,
                        message: ''
                    }
                };
            },
            mounted() {
                const path = 'https://fakestoreapi.com/products?limit=5'
                axios.get(path)
                    .then(response => this.barang = response.data.map(e =>  ({...e, qty: 0})))
                    .catch(error => {
                        this.errors.status = true;
                        this.errors.message = error.message;
                    })
                    .finally(() => this.loading = false);
            },
            computed:{
                totalItem(){
                    let data = this.carts.map(e => parseInt(e.qty));
                    return this.carts != '' ?  data.reduce((item,i) => item += i) : '0';
                }
            },
            methods:{
                showImage(pathImage){
                   return pathImage ?? 'assets/images/no-image.png';
                },
                addBarang(e){
                    let data = {
                        id: this.barang.length + 1,
                        title: this.barang.title,
                        price: this.barang.price,
                        image: null,
                        qty: 0
                    };
                    this.barang.push(data);
                },
                deleteBarang(id, index){
                    let cart = this.carts.filter(item => item.id_barang == id);
                    if(cart.length){
                        let countCart = cart.map(item => parseInt(item.price) * parseInt(item.qty));
                        let priceCart = countCart.reduce((item,i) => item += i);
                        this.totalHarga -= priceCart;

                        this.carts = this.carts.filter(item => item.id !== cart[0].id)
                    }
                    this.barang.splice(index,1);
                },
                addToCart(id){
                    let barang = this.barang.filter(item => item.id == id)[0];

                    let cart = {
                        id: this.id++,
                        id_barang: barang.id,
                        title: barang.title,
                        price: barang.price,
                        qty: 1
                    };
                    let getCart = this.carts.filter(item => item.id_barang == barang.id)[0];
                    getCart ? getCart.qty++ : this.carts.push(cart);
                    
                    let countCart = this.carts.map(item => parseInt(item.price) * parseInt(item.qty));
                    this.totalHarga = countCart.reduce((item,i) => item += i);
                },
                removeFromCart(id){
                    let getCart = this.carts.filter(item => item.id_barang == id)[0];
                    if(getCart != undefined){
                        if(this.totalHarga > 0 && getCart.qty > 0){
                            getCart.qty--;
                            this.totalHarga -= parseInt(getCart.price);
                        }
    
                        if(getCart.qty == 0){
                           this.carts = this.carts.filter(item => item.id !== getCart.id)
                        }
                    }
                },
            }
        })
    </script>
</body>
</html>