<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Vue Js</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>

    <div id="app">
        <div class="row">
            <div class="col-8">
                <div class="p-5">
                    <header>
                        <h3 v-once>{{ firstData }}</h3>
                        <hr>
                    </header>
                    <form @submit.prevent="addBarang" class="pb-3">
                        <div class="row pb-3">
                            <div class="col-6">
                                <input type="text" placeholder="Nama Barang" v-model="barang.title" class="form-control" required>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-6">
                                <input type="number" placeholder="Harga Barang" v-model="barang.price" class="form-control" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Photo</th>
                                <th>Barang</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody v-if="barang.length > 0">
                            <tr v-for="(brg,i) in barang" :key="brg.id">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <img :src="showImage(brg.image)" width="50" alt="">
                                </td>
                                <td>{{ brg.title }}</td>
                                <td>
                                    <button @click="showBarang(brg.id)" class="btn btn-primary btn-sm">Detail</button> 
                                    <button @click="deleteBarang(i)" class="btn btn-danger btn-sm">Delete</button>
                                    |
                                    <button @click="addToCart(brg.id)" class="btn btn-secondary btn-sm">+</button>
                                    <button @click="removeFromCart(brg.id)" class="btn btn-secondary btn-sm">-</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td v-if="barang.length > 0 && !loading" colspan="4">No Data Found</td>
                                <td v-else colspan="4">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card" v-show="showData">
                        <div class="card-body">
                        Nama Barang : {{ data.title }} - Harga : ${{ data.price }} 
                        <button class="btn btn-link btn-sm d-block" @click="showData = false">Close</button>
                        </div>
                    </div>

                    <h3>Keranjang Anda</h3>
                    <ul>
                        <li v-for="cart in carts" :key="cart.id">
                        Barang : {{ cart.title }} | Price : ${{ cart.price }} | Total : {{ cart.qty }}
                        </li>
                    </ul>
                    
                    <p>Total Item {{ totalItem }} <br> Total Harga ${{ totalHarga }}</p>

                    <footer>
                       <p>&copy; 2021 By Widdy Arfiansyah</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    firstData: 'Widdy Arfiansyah | Basic Vue JS',
                    barang: {
                        title: '',
                        price: ''
                    },
                    showData: false,
                    data: [],
                    carts: [],
                    totalHarga: 0,
                    loading: true,
                };
            },
            mounted() {
                const path = 'https://fakestoreapi.com/products?limit=10'
                axios.get(path)
                    .then(response => this.barang = response.data.map(e =>  ({...e, qty: 0})))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false);
            },
            computed:{
                totalItem(){
                    let data = this.carts.map(e => parseInt(e.qty));
                    return this.carts != '' ?  data.reduce((item,i) => item += i) : '0';
                }
            },
            methods:{
                showBarang(id){
                    this.showData = true;
                    this.data = this.barang.filter(item => item.id == id)[0];
                },
                showImage(pathImage){
                   return pathImage ?? 'assets/images/no-image.png';
                },
                addBarang(e){
                    let data = {
                        id: this.barang.length + 1,
                        title: this.barang.title,
                        price: this.barang.price,
                        image: null,
                        qty: 0
                    };
                    this.barang.push(data);
                },
                deleteBarang(index){
                    this.barang.splice(index,1);
                },
                addToCart(id){
                    let barang = this.barang.filter(item => item.id == id)[0];

                    let cart = {
                        id: this.carts.length + 1,
                        id_barang: barang.id,
                        title: barang.title,
                        price: barang.price,
                        qty: 1
                    };
                    let getCart = this.carts.filter(item => item.id_barang == barang.id)[0];
                    getCart ? getCart.qty++ : this.carts.push(cart);
                    
                    let countCart = this.carts.map(item => parseInt(item.price) * parseInt(item.qty));
                    this.totalHarga = countCart.reduce((item,i) => item += i);
                },
                removeFromCart(id){
                    let getCart = this.carts.filter(item => item.id_barang == id)[0];
                    if(this.totalHarga > 0 && getCart.qty > 0){
                        getCart.qty--;
                        this.totalHarga -= parseInt(getCart.price);
                    }

                    if(getCart.qty == 0){
                       this.carts = this.carts.filter(item => item.id !== getCart.id)
                    }
                },
            }
        })
    </script>
</body>
</html>